<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="icon" href="http://deeplearning.ge.imati.cnr.it/ditac/pics/favicon.ico" type="image/x-icon"/>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='all'>
    <header class='header'>
        <a href="https://medium.com/ieeecisunb" target="_blank">
            <img 
            src="http://deeplearning.ge.imati.cnr.it/ditac/pics/digitbrain-2.png"
            height="54" 
            width="167">
        </a>
        <h1 class='title'>
            ProMED ML Tool Interface
        </h1>
        <p class="info">
            Developed by Andrea Ranieri - CNR-IMATI
        </p>
    </header>



    <p class="text" style="color:crimson;text-decoration:none;">
<label for="manufacturing-classes">Choose a manufacturing class, then press the Analyze button</label>
    </p>
    <div class='content'>
      <div class='select'>
	<p>
	Manufacturing class:
<select name="manufacturing-classes" id="manufacturing-classes">
	<option value="upper_subperiost_implant">upper_subperiost_implant</option>
	<option value="bridge">bridge</option>
	<option value="front_lower_bridge">front_lower_bridge</option>
	<option value="solo_crown">solo_crown</option>
	<option value="bar">bar</option>
</select>
	</p>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' style='align: center' onclick='analyze()'>Analyze</button>
        <div class='result-label'>
            <label id='result-label'></label>
        </div>
      </div>
    </div>

    </div>
    </div>
    <div class='more'>
        <p></p>
        <a href="https://twitter.com/4ndr3aR" target="_blank" style="color:#dbd8e3;text-decoration:none;">Contact me</a>
        <img 
        src="http://deeplearning.ge.imati.cnr.it/ditac/pics/digitbrain-2.png"
        height="54" 
        width="167"
        >
    </div>
</div>
</body>
</html>



